# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

dev_files/
access_tokens.txt
app.pid
collector_cnf.json
dumps/
logs/
lumber_sources.json
pylumber.db
version.txt
.flaskenv