requests
beautifulsoup4
natsort
python-dateutil

flask
flask-migrate
Flask-Pydantic
flask-sqlalchemy

gunicorn
sentry-sdk[flask]
python-dotenv
pydantic

pytest
pytest-cov
pytest-flask
pytest-mock

pre-commit