{% macro price_change_table(data) %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Store</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Price changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row["group_name"] }}</td>
                            <td><a href="{{ row["url"] }}" target="_blank">{{ row["store"] }}</a></td>
                            <td>{{ row["date"] }}</td>
                            <td>{{ row["price"] }}</td>
                            <td style='color: {{ row["text_color"] }};''>{{ row["price_changed"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endmacro %}}

{% macro price_table(price_table_data) %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Store</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Price changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group_name, products in price_table_data.items() %}
                            {% for row in products %}
                            <tr>
                                <td>{{ group_name }}</td>
                                <td><a href="{{ row["url"] }}" target="_blank">{{ row["store"] }}</a></td>
                                <td>{{ row["date"] }}</td>
                                <td>{{ row["price"] }}</td>
                                <td style='color: {{ row["text_color"] }};''>{{ row["price_changed"] }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endmacro %}}

{% macro draw_price_graph(id, group) %}
<div class="row">
    <div id="chart_container_{{ id }}" class="card chart-container collapse">
        <canvas id="chart_{{ id }}"></canvas>
    </div>
</div>
<script>
    var colorMapping = { 'optimera': 'rgb(0, 0, 0)', 'woody': 'rgb(0, 166, 81)', 'byggmax': 'rgb(255, 225, 50)', 'bauhaus': 'rgb(204, 0, 0)'};
    // Draw the graph
    ctx{{ id }} = document.getElementById("chart_{{ id }}").getContext('2d');
    const myChart{{ id }} = new Chart(ctx{{ id }}, {
        type: 'line',
        data: {
            datasets: [
                {% for product in group["products"] %}
                    {
                        label: '{{ product["store"] }}',
                        backgroundColor: colorMapping['{{ product['store'] }}'],
                        borderColor: colorMapping['{{ product['store'] }}'],
                        data: [
                            {% for price_trend in product["price_trends"] %}
                                { t:'{{ price_trend["date"] }}', y:{{ price_trend["price"] }} },
                            {% endfor %}
                        ],
                        fill: false
                    },
                {% endfor %}
            ]
        },
        options: {
            elements: {
                line: {
                    tension: 0
                }
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'YYYY-MM-DD'
                        },
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        },
    });
</script>
{% endmacro %}}