<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>pylumber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/cdb.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/cdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/bootstrap.min.js"></script>
</head>

<style>
    .chart-container {
        width: 50%;
        height: 50%;
        margin: auto;
    }
</style>

<body>
    {% for group in groups %}
        <h2 style="text-align: center;">{{ group["group_name"]}}</h2>
        <div class="card chart-container">
            <canvas id="chart_{{loop.index}}"></canvas>
            <ul>
                {% for source in group["sources"] %}
                    <li><a href="{{ source["url"] }}" target="_blank">{{ source["source"] }} - {{ source["description"] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <p style="text-align: center;">Version: {{ version }}</p>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script>
    var colorMapping = { 'optimera': 'rgb(0, 0, 0)', 'woody': 'rgb(0, 166, 81)', 'byggmax': 'rgb(255, 225, 50)'};
    {% for group in groups %}
        ctx{{loop.index}} = document.getElementById("chart_{{loop.index}}").getContext('2d');
        const myChart{{loop.index}} = new Chart(ctx{{loop.index}}, {
            type: 'line',
            data: {
                labels: [
                    {% for price_snapshop in group["sources"][0]["prices"] %}
                        "{{price_snapshop["date"]}}",
                    {% endfor %}
                ],
                datasets: [
                    {% for source in group["sources"] %}
                        {
                            label: '{{ source["source"]}}',
                            backgroundColor: colorMapping['{{ source['source'] }}'],
                            data: [
                                {% for price_snapshop in source["prices"] %}
                                    {{ price_snapshop["price"]}},
                                {% endfor %}
                            ],
                            fill: false
                        },
                    {% endfor %}
                ]
            },
            options: {},
        });
    {% endfor %}
</script>