{% import 'macros.jinja2' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>pylumber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/cdb.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/cdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/bootstrap.min.js"></script>
</head>

<style>
    .chart-container {
        width: 90%;
        height: 50%;
        margin: auto;
    }
</style>

<body>
    {% for group in groups %}
        <h2 style="text-align: center;">{{ group["group_name"] }}</h2>
        {{ macros.price_table(price_tables_data[group["group_name"]]) }}
        <div class="row">
            <div class="card chart-container">
                <canvas id="chart_{{ loop.index }}"></canvas>
                <ul>
                    {% for product in group["products"] %}
                        <li><a href="{{ product["url"] }}" target="_blank">{{ product["store"] }} - {{ product["description"] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <p style="text-align: center;">Version: {{ version }}</p>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script>
    var colorMapping = { 'optimera': 'rgb(0, 0, 0)', 'woody': 'rgb(0, 166, 81)', 'byggmax': 'rgb(255, 225, 50)'};
    {% for group in groups %}
        // Draw the graphs
        ctx{{ loop.index }} = document.getElementById("chart_{{ loop.index }}").getContext('2d');
        const myChart{{ loop.index }} = new Chart(ctx{{ loop.index }}, {
            type: 'line',
            data: {
                labels: [
                    {% for price_snapshop in group["products"][0]["prices"] %}
                        "{{ price_snapshop["date"] }}",
                    {% endfor %}
                ],
                datasets: [
                    {% for product in group["products"] %}
                        {
                            label: '{{ product["store"] }}',
                            backgroundColor: colorMapping['{{ product['store'] }}'],
                            data: [
                                {% for price_snapshop in product["prices"] %}
                                    {{ price_snapshop["price"] }},
                                {% endfor %}
                            ],
                            fill: false
                        },
                    {% endfor %}
                ]
            },
            options: {
                elements: {
                    line: {
                        tension: 0
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },
        });
    {% endfor %}
</script>